<form #f="ngForm" (ngSubmit)="submitNewPost(f)" class="centered">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput type="text" ngModel name="title" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Author</mat-label>
      <input matInput type="text" ngModel name="author" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Text</mat-label>
      <input matInput type="text" ngModel name="text" />
    </mat-form-field>
  </p>
  <button mat-flat-button color="primary" class="button">Insert new post</button>
</form>
