---
import { SITE_TITLE } from '../config';
---

<header>
	<h2>
		<a id="title" href="../index.html">{SITE_TITLE}</a> 
	</h2>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0;
		text-align: center;
	}
	#title {
		text-decoration: none;
		color: black;
	}
</style>
