@use "@angular/material" as mat;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$my-custom-typography: mat.define-typography-config(
  $display-4:
    mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:
    mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:
    mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 40px, 400),
  $headline: mat.define-typography-level(24px, 32px, 400),
  $font-family: "Montserrat",
);

@include mat.core($my-custom-typography);

// Define a light theme
$light-primary: mat.define-palette(mat.$orange-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$amber-palette);
$dark-accent: mat.define-palette(mat.$pink-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: black;
  margin: 0;
  font-family: "Montserrat";
  color: white;
}

// Apply the light theme only when the `.light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.light-theme {
  @include mat.all-component-themes($light-theme);
  background-color: white;
  color: black;
  mat-grid-list {
    background-color: white;
  }
}

.link:hover {
  cursor: pointer;
}
